In [44]:
#imports
#read the dataset
import pandas as pd 
#numerical python
import numpy as np
#plot the graph
import matplotlib.pyplot as plt
#plot graphical
import seaborn as sns

In [45]:
#read dataset
df=pd.read_csv('diabetes.csv')

In [46]:
#to display the first five outcomes
df.head(10)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0
6,3,78,50,32,88,31.0,0.248,26,1
7,10,115,0,0,0,35.3,0.134,29,0
8,2,197,70,45,543,30.5,0.158,53,1
9,8,125,96,0,0,0.0,0.232,54,1

In [47]:
#rows and columns in dataset
df.shape

(768, 9)

In [48]:
#datatypes of all attributes
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [49]:
#to check the null values
df.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [50]:
#train and test
from sklearn.model_selection import train_test_split

In [51]:
#to split data and label
#data
x=df.iloc[:,df.columns!='Outcome']
#label
y=df.iloc[:,df.columns=='Outcome']

In [52]:
#20% for test
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2)

In [53]:
xtrain.shape

(614, 8)

In [54]:
xtrain.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
535,4,132,0,0,0,32.9,0.302,23
189,5,139,80,35,160,31.6,0.361,25
624,2,108,64,0,0,30.8,0.158,21
596,0,67,76,0,0,45.3,0.194,46
484,0,145,0,0,0,44.2,0.630,31

In [55]:
#algorithm
from sklearn.ensemble import RandomForestClassifier
model=RandomForestClassifier()

In [56]:
#to train model
model.fit(xtrain,ytrain.values.ravel())

RandomForestClassifier()

In [57]:
#our prediction
predict_output=model.predict(xtest)
print(predict_output)

[0 0 0 1 0 0 0 1 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 1 0 0 1 0 1 1 0 1 1 1 1 0
 0 1 0 0 0 0 0 0 1 0 0 0 1 1 0 1 1 1 0 0 0 1 0 0 0 1 0 0 1 0 0 0 0 0 0 1 0
 1 0 1 0 0 0 0 0 0 1 0 0 0 0 1 0 0 0 0 0 0 0 0 1 0 0 0 1 0 1 0 0 0 1 0 0 1
 0 0 0 1 1 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 1 0 0 0 1
 1 0 0 0 0 1]

In [58]:
#accuracy check
from sklearn.metrics import accuracy_score

In [59]:
acc=accuracy_score(predict_output,ytest)
print('The accuracy score for RF: ',acc)

The accuracy score for RF:  0.7597402597402597